<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
  </head>
  <body>
    
    <section class="banner d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h1 class="font-weight-bold">Smart Contact Manager</h1>
        <button class="btn bg-primary btn-lg text-white mt-4">Get Start</button>
      </div>
    </section>
  </body>
</html>